p { text-align: center; }
.toggle, [id^=drop] {
    display: none;
}

nav {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100%;
    display: table;

}
nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;

    /*padding-left: 20px;*/
    border-top: solid 1px lightgrey;
    z-index: 10;

}

nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: white;
    width: 16.66666666%;
    /*margin-left: 2px;*/
    /*border-right:solid 1px lightgrey;*/



}
/*nav >ul >li:nth-child(6){*/
    /*width: 7%;*/

/*}*/

/*nav >ul >li:nth-child(5) {*/
    /*width: 9%;*/
/*}*/
nav a {
    display: block;
    padding: 0 10px;
    font-size: 0.9em;
    font-family: "Qanelas Regular", serif;
    line-height: 42px;
    text-transform: capitalize;
    text-decoration: none;
    text-align: center;
    transition: all .2s ease-in-out;
    background: transparent;
    /*color: black;*/

}
nav a i{
    opacity: 0.5;
    zoom: 0.7;
}
nav ul li ul li:hover { background: whitesmoke; transition: 0.3s ease-out;}

nav a:hover { background: whitesmoke }

.is-active {
    background-color: whitesmoke;
    transition: all .2s ease-in;
}

nav ul ul {
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 99999;
    top:39px;


}

nav ul li:hover > ul { display: inherit; }

nav ul ul li {
    width: 100%;
    float: none;
    display: list-item;
    position: relative;
    border-right: none;
}

nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}

li > a:after { content: ' '; }

li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {
    nav a{
        text-align: left;
        color: black;
    }
    nav {
        margin: 0;
        background-color: transparent;

    }
    .menus{
        padding-left: 0px!important;

    }

    .toggle + a,
    .menu { display: none; }

    .toggle {
        display: block;

        padding: 0 10px;
        color: #FFF;
        font-size: 20px;
        line-height: 43px;
        text-decoration: none;
        border: none;
        background-color: transparent;

    }

    .toggle:hover { background-color: transparent; }

    [id^=drop]:checked + ul { display: block; }

    nav >ul >li:nth-child(5){
        width: 100%;
    }

    nav >ul{
        margin-top: 0;
        width: 100%;
    }
    nav ul li {
        display: block;
        width: 100%;
    }

    nav ul ul .toggle,
    nav ul ul a { padding: 0 40px; }

    nav ul ul ul a { padding: 0 80px; }

    nav a:hover,
    nav ul ul ul a { background-color: whitesmoke; }

    nav ul li ul li .toggle,
    nav ul ul a { background-color:transparent; }

    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }

    nav ul ul li:hover > ul,
    nav ul li:hover > ul { display: none; }

    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li { position: static;

    }
}

@media all and (max-width : 330px) {

    nav ul li {
        display: block;
        width: 100%;
    }

}